@use "../globals" as *;

.test-btn {
  border-radius: 10rem;
  padding: 1rem;
  border: none;
  font-weight: 600;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.bg-white {
  background-color: $color-white;
  color: #000;
}

.bg-twitter {
  background-color: $color-twitter;
  color: $text-white;
}

.disable {
  opacity: 0.7;
  cursor: not-allowed;
}

.allowed {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
