@use "../globals" as *;

.image-upload-container {
  padding: 1rem;
  border-radius: 0.375rem;
  border: 2px dotted $color-grey;
  width: 100%;
  text-align: center;

  .image-upload-preview {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 1.5rem;
    color: $text-white;
  }

  &:hover {
    cursor: pointer;
  }
}
