@use "../globals" as *;

.no-notifications {
  color: $text-grey;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.notification-content {
  display: flex;
  flex-direction: column;

  &__box {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border-bottom: 1px solid #38444d;

    p {
      font-size: 1.4rem;
      color: $text-white;
    }
  }
}
