// background colors
$bg-black: #010103;

// colors
$color-twitter: #1b95e0;
$color-grey: #f8f8f827;
$color-dark: #000;
$color-dark-transparant: #000000ad;
$color-white: #fff;
$color-search: #1b1e20;

// text colors
$text-white: #ffffff;
$text-grey: #7e7e7e;
$text-search: #a79e9e;
