// background colors
$bg-black: #010103;

// colors
$color-twitter: #1b95e0;
$color-twitter-transparent: #1b94e07e;
$color-grey: #f8f8f827;
$color-dark: #000;
$color-dark-transparant: #000000ad;
$color-white: #fff;
$color-search: #1b1e20;
$test: #273746ad;
$color-overlay: rgb(38, 38, 38, 0.7);

$color-post-hover: #41414121;

// text colors
$text-white: #ffffff;
$text-grey: #7e7e7e;
$text-search: #a79e9e;
