@use "./colors" as *;
@use "./fontSize" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-black;
  color: $text-white;
  font-family: $titles-font;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: 0.82fr 0.82fr 1fr;
  grid-template-rows: auto;
}
