@use "./colors" as *;
@use "./fontSize" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-black;
  color: $text-white;
  font-family: $titles-font;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: 0.82fr 0.82fr 1fr;
  grid-template-rows: 6rem 1fr 1fr;
  grid-template-areas:
    "sidebar head searchheader"
    "sidebar main trends"
    "sidebar main trends";
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // // grid-template-columns: 0.82fr 0.82fr 1fr;
  // grid-template-rows: auto;

  @media (max-width: 1330px) {
    grid-template-columns: 0.5fr 1fr 1fr;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $color-twitter #000000;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
  background-color: #000000;
}

*::-webkit-scrollbar-track:active {
  background-color: #000000;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $color-twitter;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $color-twitter;
}

*::-webkit-scrollbar-thumb:active {
  background-color: $color-twitter;
}
