@use "../globals" as *;

//collapsed message-box

.message-box {
  position: fixed;
  width: 40rem;
  bottom: 0;
  right: 4rem;
  background-color: $bg-black;
  border: 2px solid $color-grey;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom: none;

  &__content-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      padding: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;

      span {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

//expanded mesage-box

.message-container {
  display: flex;
  flex-direction: column;

  .message-box-extended {
    position: fixed;
    width: 40rem;
    height: 55rem;
    bottom: 0;
    right: 4rem;
    background-color: $bg-black;
    border: 2px solid $color-grey;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom: none;

    .message-request {
      display: flex;
      align-items: center;
      gap: 2rem;

      margin-top: 1rem;
      padding: 1rem;

      &:hover {
        background-color: $color-grey;
        cursor: pointer;

        #message-icon {
          background-color: $bg-black;
        }
      }

      p {
        font-size: 1.4rem;
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10rem;
        padding: 1.4rem;
        border: 1px solid $color-grey;
      }
    }

    .write-message {
      display: flex;
      flex-direction: column;
      padding: 2rem;

      h1 {
        font-size: 3rem;
        font-weight: 800;
      }

      p {
        margin-top: 1rem;
        font-size: 1.4rem;
        color: $text-grey;
      }

      &__btn {
        padding: 2rem;

        button {
          justify-content: center;
          align-items: center;
          border: none;
          padding: 16px;
          border-radius: 10rem;
          background-color: $color-twitter;
          color: white;
          font-size: 1.6rem;
          font-weight: 600;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
