@use "../globals" as *;

nav {
  display: flex;
  justify-content: flex-end;
}
.sidebar {
  grid-area: sidebar;
  padding: 5px;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 1px solid #38444d;
  transition: width 0.3s;
  z-index: 100;

  .sidebar-menu {
    display: flex;
    flex-direction: column;

    @media (max-width: 1280px) {
      align-items: flex-end;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 300;
      width: fit-content;
      padding: 12px;
      margin-right: 1rem;
      cursor: pointer;
      transition: background 0.2s;
      border-radius: 10rem;
      text-decoration: none;
      color: white;

      span {
        margin-left: 2rem;

        @media (max-width: 1280px) {
          display: none;
        }
      }

      &:hover {
        background: $color-grey;
      }
    }
  }
  button {
    margin-top: 2rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 12px;
    border-radius: 10rem;
    background-color: $color-twitter;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;

    @media (max-width: 1280px) {
      width: fit-content;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .profile {
    position: absolute;
    bottom: 2rem;
    padding: 8px 16px 8px 16px;
    border-radius: 10rem;

    &__content {
      display: flex;

      &__text {
        margin-left: 1rem;

        h6 {
          font-size: 1.6rem;
          font-weight: 400;
        }

        p {
          font-size: 1.6rem;
          font-weight: 300;
          color: $text-grey;
        }

        @media (max-width: 1280px) {
          display: none;
        }
      }
    }

    &:hover {
      background: $color-grey;
      cursor: pointer;
    }
  }
}

.links {
  text-decoration: none;
  color: white;
}

.bold-link {
  font-weight: 600;
}
