@use "../globals" as *;

.newpost-content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #38444d;
  margin-top: 6rem;

  &__profileAndInput {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 0 3rem;
    gap: 2rem;

    &__text {
      display: flex;

      textarea {
        margin-left: 2rem;
        background-color: $bg-black;
        width: 100%;
        min-height: 40px;
        font-size: 2rem;
        border: none;
        resize: none;
        color: white;

        &:focus {
          outline: none;
          border-bottom: 1px solid #38444d;
        }
      }
    }

    &__image-preview {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }

      button {
        position: absolute;
        right: 5px;
        top: 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        color: white;
        background-color: $color-dark-transparant;

        &:hover {
          cursor: pointer;
          background-color: #0000007a;
        }
      }
    }
  }

  &__insertAndPost {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__insert {
      display: flex;

      label {
        padding: 0 0.75rem;

        &:hover {
          cursor: pointer;
        }
      }

      #imageUpload {
        display: none;
      }
    }

    &__post {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }
}

.loged-out-new-post {
  padding: 3rem;

  h1 {
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
  }
}
