@use "../globals" as *;

.newpost-content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #38444d;
  border-right: 1px solid #38444d;

  &__profileAndInput {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 0 3rem;
    gap: 2rem;

    &__text {
      display: flex;

      textarea {
        margin-left: 2rem;
        background-color: $bg-black;
        width: 100%;
        min-height: 40px;
        font-size: 2rem;
        border: none;
        resize: none;
        color: white;

        &:focus {
          outline: none;
          border-bottom: 1px solid #38444d;
        }
      }
    }

    &__image-preview {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        max-height: auto;
      }

      button {
        position: absolute;
        right: 5px;
        top: 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        color: white;
        background-color: $color-dark-transparant;

        &:hover {
          cursor: pointer;
          background-color: #0000007a;
        }
      }
    }
  }

  &__insertAndPost {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__insert {
      display: flex;

      label {
        padding: 0 0.75rem;

        &:hover {
          cursor: pointer;
        }
      }

      #imageUpload {
        display: none;
        visibility: none;
      }
    }

    // input {
    //   width: 30px;
    //   height: 30px;
    // }

    &__post {
      margin-bottom: 2rem;
      button {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 8px 16px;
        border-radius: 10rem;
        background-color: $color-twitter;
        color: white;
        font-size: 1.6rem;
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
