@use "../globals" as *;

.search-section {
  @include RightsideWidth;

  @media (max-width: 1010px) {
    display: none;
  }
}

.search-section-explore {
  width: 100%;
  border-right: 1px solid #38444d;

  .explore {
    width: 90%;
  }
}

.search-content {
  @include RightsidePadding;

  .search-bar {
    display: flex;
    align-items: center;
    position: relative;
    transition: box-shadow 0.3s;
    margin-bottom: 5px;

    .search-icon {
      display: flex;
      align-items: center;
      position: absolute;
      left: 20px; // Adjust the position as needed
      color: $text-search;
      height: 100%;
      z-index: 1;
    }

    input {
      border-radius: 10rem;
      padding: 1.3rem;
      width: 100%;
      background-color: $color-search;
      color: $text-search;
      border: none;
      flex: 1;
      font-size: 1.5rem;
      outline: none;
      padding-left: 5rem; // Ensure input text doesn't overlap the icon

      &:focus {
        background-color: $bg-black;
        border: 1px solid $color-twitter;
      }
    }
  }
}
