@use "../globals" as *;

.header {
  grid-area: head;
  border-right: 1px solid #38444d;

  &__feeds {
    display: flex;
    position: fixed;
    width: 31%;
    flex-direction: column;
    background-color: $bg-black;

    h1 {
      margin: 2rem;
      font-size: 1.8rem;
    }

    &__btn {
      display: inherit;
      justify-content: space-around;
      position: relative;
      border-bottom: 1px solid #38444d;

      button {
        background-color: $bg-black;
        border: none;
        color: white;
        width: 50%;
        padding: 2rem;
        font-weight: 600;
        font-size: 1.4rem;

        &:hover {
          background-color: $color-grey;
          cursor: pointer;
        }
      }
    }
  }

  .active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 5rem;
      height: 3px;
      background: $color-twitter;
      bottom: 0;
      left: 0;
      transform: translate(250%, 50%);
    }
  }

  .noti-active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 5rem;
      height: 3px;
      background: $color-twitter;
      bottom: 0;
      left: 0;
      transform: translate(150%, 50%);
    }
  }

  .inactive {
    color: $text-grey;
    font-weight: 400;
  }
}

.search-header {
  grid-area: searchheader;

  .search-container {
    position: fixed;
    background-color: $bg-black;
    width: 38%;
  }
}

.home {
  grid-area: main;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #38444d;
  border-right: 1px solid #38444d;
}
